<config>
  <app>
    <title>Game Development Testbed Zaratan Studios</title>
    <organization>UPC</organization>
	  <frcap value = "16"/> 
	  <!--PA FUTURO-->
  </app>

  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
    <music volume="128"/>
    <fx volume="128"/>
  </audio>

  <!-- L02: DONE: Add an element for the entity manager and add the player parameters -->
  <scene>
    <player x="288" y="1408" texturepath="Assets/Textures/MainCharacter.png" FxJump="Assets/Audio/Fx/SonidoSalto.ogg" FxWin="Assets/Audio/Fx/SonidoWin.ogg" FxLose="Assets/Audio/Fx/SonidoLose.ogg" containerEmpty="Assets/Textures/VidaVoid.png" containerFull="Assets/Textures/VidaFull.png">

      <AnimRun1 x="0" y="0" w="27" h="36"/>
      <AnimRun2 x="27" y="0" w="27" h="36"/>
      <AnimRun3 x="54" y="0" w="27" h="36"/>

      <AnimJump1 x="0" y="72" w="27" h="36"/>
      <AnimJump2 x="27" y="72" w="27" h="36"/>
      <AnimJump3 x="54" y="72" w="27" h="36"/>

      <AnimIdleJump1 x="0" y="36" w="27" h="36"/>
      <AnimIdleJump2 x="27" y="36" w="27" h="36"/>

      <Weapon x="27" y="36" w="27" h="36"/>
    </player>
    
    <item x="832" y="1408" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="2176" y="1440" texturepath="Assets/Textures/goldCoin.png"/>
    <item x="2080" y="1024" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="1184" y="768" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="96" y="768" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="736" y="192" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="832" y="192" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="928" y="192" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="1664" y="416" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="2784" y="288" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="2592" y="384" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="2592" y="448" texturepath="Assets/Textures/goldCoin.png"/>
	<item x="2592" y="512" texturepath="Assets/Textures/goldCoin.png"/>

	<life x="960" y="320" texturepath="Assets/Textures/VidaFull.png"/>
	<life x="240" y="1280" texturepath="Assets/Textures/VidaFull.png"/>
	<life x="64" y="640" texturepath="Assets/Textures/VidaFull.png"/>
	  
	  
	  
	<enemy x="750" y="160" texturepath="Assets/Textures/enemy.png" level="0" speed="0.8" fly="true" alarmRange="300" loseRange="650"/>
	
	<enemy x="2372" y="1440" texturepath="Assets/Textures/enemy.png" level="0" speed="1,2" fly="false" alarmRange="200" loseRange="450"/>

	<enemy x="1152" y="832" texturepath="Assets/Textures/enemy.png" level="0" speed="1,2" fly="false" alarmRange="250" loseRange="400"/>

	<containerEmpty texturepath="Assets/Textures/VidaVoid.png"/>
	<containerFull texturepath="Assets/Textures/VidaFull.png"/>
	
	
	  
  </scene>

  <map>
    <mapfolder path="Assets/Maps/"/>
	
	 
    <!--<mapfile path="Assets/Maps/MapTemplate.tmx"/>-->
    <mapfile path="Assets/Maps/MapaLvl2.tmx"/>
	 
  </map>
	<intro>
		<start1 texturepath="Assets/Maps/PantallaInicio1.png"/>
		<start2 texturepath2="Assets/Maps/PantallaInicio.png"/>
		
	</intro>

	<lose>
		<lose texturepath="Assets/Maps/PantallaGameOver.png"/>

	</lose>

	<victory>
		<win texturepath="Assets/Maps/PantallaWin.png"/>
	</victory>
	
  
</config>
